// okay, this file is just for references,
// trying to keep Uno as the single source of truth

$theme-0: hsl(0deg 100% 59%); // #ff2d2d
$theme-1: hsl(0deg 0% 94%); // #efefef
$theme-2: hsl(0deg 0% 90%); // #e6e6e6
$theme-3: hsl(240deg 1% 58%); // #929295
$theme-4: hsl(240deg 1% 43%); // #6b6b6e
$theme-5: hsl(240deg 3% 24%); // #3a3a3e
$theme-6: hsl(240deg 3% 14%); // #232325
$theme-7: hsl(240deg 4% 11%); // #1c1c1e
$theme-8: hsl(240deg 4% 9%); // #161618
$theme-9: hsl(240deg 4% 4%); // #09090b
// $theme-10: hsl(0deg 0% 75%);    // #bfbfbf
// $theme-11: hsl(354deg 56% 28%); // #6f1f27
