/* stylelint-disable no-invalid-position-at-import-rule, at-rule-empty-line-before */

@import './fonts';

$scrollbar-thumb: #888;
$scrollbar-track: theme('colors.ml.7');

:root {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-(16px/tight balance pretty ml-2/80) font-sans
    scroll-(smooth py-10) of-y-scroll bg-ml-8/100;
    // set bg inline in nuxt.config

  --nav-height: #{$nav-height};
}

* {
  scrollbar-color: $scrollbar-thumb $scrollbar-track;
}

:is(h1, h2, h3, h4, h5, h6) {
  @apply text-balance;
}

:is(kbd, code, samp, pre) {
  @apply font-mono;
}

::-webkit-scrollbar {
  width: 6px;

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:horizontal {
    height: 6px;
  }

  &-track,
  &-corner {
    background: $scrollbar-track;
    border-radius: 10px;
  }

  &-thumb {
    background: $scrollbar-thumb;
    border-radius: 10px;
  }
}

::selection {
  @apply bg-ml-9/100 text-ml-0/100;
}

:where(img, a) {
  @apply select-none;
}

@import './app';
