[data-fallback],
.data-fallback {
  visibility: visible !important
}

.hero-splash {
  background-color: hsla(0, 0%, 0%, 0);
  position: static;
  overflow: auto;
  z-index: auto;
  inset: unset;

  height: clamp(700px, 100vh, 1000px);
  height: clamp(700px, 100dvh, 1000px);

  padding-top: calc(7.5rem + var(--nav-height));
  padding-bottom: 7.5rem;
  margin-top: calc(-1 * var(--nav-height));
}

.ze-header {
  position: static !important;
}
