@font-face {
  font-family: 'Space Grotesk';
  font-display: swap;
  font-weight: 300 - 700;
  font-style: normal;
  src: url('/fonts/Space-Grotesk-Var.woff2') format('woff2');
}

@font-face {
  font-family: 'Mono Code';
  font-display: swap;
  font-weight: 100 - 700;
  font-style: normal;
  src: url('/fonts/RobotoMono-VariableFont.woff2') format('woff2');
}
