.link-xi {
  @apply decoration-none relative text-ml-4/100
    items-center inline-flex outline-none px-1 select-none;

  background: linear-gradient(0deg, currentcolor, currentcolor) no-repeat right
    bottom / 0 1px;
  transition-duration: 350ms;
  transition-property: background-size, color, text-transform;

  &:is(:hover, :focus-visible) {
    background-size: 100% 1px;
    background-position-x: left;
    color: theme('colors.ml.0');
  }
}

[contenteditable] {
  @apply outline-none break-all;

  * {
    @apply inline;
  }

  br {
    @apply hidden;
  }
}

[data-fallback],
.data-fallback {
  @apply invisible;
}

s {
  @apply op-70 select-none;
}

.code {
  @apply font-mono bg-zinc-9/100 text-90%/none
    p-0.3em rd-1 inline-block transition-200;
}

.screamer-h1 {
  @apply tracking-tighter font-light text-(9/1.1em ml-2/85)
    max-w-72 mx-auto ss:(text-10 max-w-80) sm:(text-12 max-w-95)
    md:(text-15 max-w-120) lg:(text-16 max-w-125);
}

.screamer-h2 {
  @apply tracking-tighter font-light text-(5/1.1em ml-3/100)
    ss:(text-6) sm:(text-7) md:(text-8) lg:(text-10);
}

.sect-space-top {
  @apply max-w-screen-xl mx-auto pb-4 px-4
    sm:(px-6) md:(px-10) xl:(px-13);

  padding-top: clamp(150px, 300px, 45vh);

  .heading-wrap {
    @apply text-left max-w-130;
  }

  .screamer-h1 {
    @apply mb-8 mx-0;
  }
}

.block-code,
.block-small {
  @apply text-85% block op-90;
}

.black-red {
  @apply bg-(ml-9/100 gradient-to-br no-repeat)
    from-(ml-0/0 25%) to-(ml-0/15 200%);
}

.link-xiii {
  @apply block transition-300 relative leading-none select-none
    outline-none align-mid whitespace-nowrap p-(1.5 r-1rem);

  --len: 1em;

  > div {
    @apply block transition-inherit;
  }

  &::before {
    transform: scale3d(0, 1, 1);
    transform-origin: left center;
    top: calc(50% - (0.1em / 2));
    width: var(--len);

    @apply transition-inherit absolute left-0
      content-[''] h-0.3 bg-current;
  }

  .arrow {
    @apply op-60 text-amber-1/100;
  }

  &:is(:hover, :focus-visible) {
    @apply outline-none text-ml-0/100;

    div {
      transform: translate3d(var(--len), 0, 0);
    }

    &::before {
      transform: scale3d(1, 1, 1);
    }
  }
}

.heading-lv-3 {
  @apply text-(5.5/[1.1] ml-2/75) ss:(text-6) sm:(text-6.25)
    md:(text-6.75) lg:(text-7.25);

  + p {
    @apply max-w-110;
  }
}

@keyframes flicker {
  0%,
  31.98%,
  32.82%,
  34.98%,
  35.72%,
  36.98%,
  37.62%,
  67.98%,
  68.42%,
  95.98%,
  99.62%,
  96.72%,
  98.98%,
  100% {
    opacity: 1;
  }

  32%,
  35%,
  35.7%,
  37%,
  37.6%,
  68%,
  68.4%,
  96%,
  96.7%,
  99%,
  99.6% {
    opacity: 0;
  }
}
