@use "./fonts";

$scrollbar-thumb: #888;
$scrollbar-track: theme('colors.ml.7');

:root {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-16px font-sans scroll-smooth;
}

html {
  // also set inline in nuxt.config
  @apply text-ml-3/100 bg-ml-7/100 scroll-py-16 of-y-scroll;
}

* {
  scrollbar-color: $scrollbar-thumb $scrollbar-track;
}

::-webkit-scrollbar {
  width: 6px;

  &:horizontal {
    height: 6px;
  }

  &-track,
  &-corner {
    background: $scrollbar-track;
    border-radius: 10px;
  }

  &-thumb {
    background: $scrollbar-thumb;
    border-radius: 10px;
  }
}

::selection {
  @apply bg-ml-8/100 text-ml-0/100;
}

.page, .fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.hr {
  border-width: thin 0 0;

  @apply flex-1 h-0 max-h-0 max-w-full block
    border-(solid zinc-5/30.5);
}

@import "./app";
