/* stylelint-disable no-invalid-position-at-import-rule, at-rule-empty-line-before */

@import './fonts';

$scrollbar-thumb: #888;
$scrollbar-track: theme('colors.ml.7');

:root {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-16px font-sans;

  --nav-height: #{$nav-height};
}

html {
  // also set inline in nuxt.config

  @apply text-ml-2/70 bg-ml-8/100
    scroll-(smooth py-10) of-y-scroll;
}

* {
  scrollbar-color: $scrollbar-thumb $scrollbar-track;
}

::-webkit-scrollbar {
  width: 6px;

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:horizontal {
    height: 6px;
  }

  &-track,
  &-corner {
    background: $scrollbar-track;
    border-radius: 10px;
  }

  &-thumb {
    background: $scrollbar-thumb;
    border-radius: 10px;
  }
}

::selection {
  @apply bg-ml-9/100 text-ml-0/100;
}

.page {
  &-enter-active,
  &-leave-active {
    @apply transition-400;
  }

  &-enter-from,
  &-leave-to {
    @apply op-0 translate-y-16;
  }
}

.hr {
  border-width: thin 0 0;

  @apply flex-1 h-0 max-h-0 max-w-full block
    border-(solid zinc-5/30.5);
}

:where(img, a) {
  @apply select-none;
}

@import './app';
@import './novel';
